{% extends 'taskmanager/base.html' %}
{% block content %}
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1>Whose Job Is This?</h1>
            <div class="container-fluid">
                <div class="row">
                    <div id="main-content" class="col-md-9">
                        <div>
                        {% if task %}
                            <div class="col-sm-12">
                                <h3 style="display: inline-block">{{ task.title }}</h3>
                                <a class="btn btn-default">I accept this job</a>
                                <hr/>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4"><time>created on {{ task.dateadded }}</time></div>
                            <div class="col-sm-3">${{ task.value }}</div>
                            <div class="col-sm-3"><time>deadline {{ task.deadline }}</time></div>
                            <div class="col-sm-12">
                                {{ task.infor }} 
                            </div>
                        {% else %}
                            <p>task not found</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_login %}
            <div class="col-md-3">
                <h5>You are logged in as {{ current_user }}</h5>
                <a href="" class="btn btn-default btn-block">Exit</a>
            </div>
        {% else %}
            <div class="col-md-3">
                <h3> Sign in </h3>
                <form name="signin" action="{% url 'taskmanager:signin' %}" onsubmit="return validateSignForm()" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Sign in</button>
                </form>
                <hr/>
                <h3>Register</h3>
                <form name="register" action="{% url 'taskmanager:registeruser' %}" onsubmit="return validateRegForm()" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="username" maxlength="100" class="form-control" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control" placeholder="email" type="email">
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control" placeholder="password" type="password">
                    </div>
                    <div class="form-group">
                        <input name="password_rpt" class="form-control" placeholder="confirm password" type="password">
                    </div>
                    <div class="form-group">
                        <label><input name="master" type="checkbox">Employer</label>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Register</button>
                </form>
                <script>
                    function validateSignForm() {
                        var email = document.forms["signin"]["email"].value;
                        if (email == "") {
                            alert("Please enter a valid email.");
                            return false;
                        }
                        return true;
                    }
                </script>
                <script>
                    function validateRegForm() {
                        var usrname = document.forms["register"]["username"].value;
                        var email = document.forms["register"]["email"].value;
                        var pass = document.forms["register"]["password"].value;
                        var pass_rpt = document.forms["register"]["password_rpt"].value;
                        if (usrname == "" || email == "" || pass == "" || pass_rpt == "") {
                            alert("Please fill all fields and try again!");
                            return false;
                        }
                        if (pass != pass_rpt) {
                            alert("Passwords do not match.")
                            return false;
                        }
                        return true;

                    }
                </script>
            </div>
        {% endif %}
    </div>
    <footer>
        <br><br>
        <a href="">Terms and conditions</a>
        <a href="">About us</a>
    </footer>
</div>
</body>
{% endblock %}
