{% extends 'taskmanager/index.html' %}
{% block content %}
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1>Task Manager System</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Value</th>
                    <th>Time Estimation</th>
                    <th>Employer</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                {% for task in page_obj %}
		        <tr>
		            <td>{{ task.title }}</td>
		            <td>{{ task.value }}</td>
		            <td>{{ task.estimated_dur }}</td>
		            <td>{{ task.user }}</td>
		            <td>
		                <a href="/tasks/{{ task.id }}" class="btn btn-default">More info</a>
		            </td>
		        </tr>
		{% endfor %}
                </tbody>
            </table>
            <div id="tasks-paginator">
                <ul class="pagination">
                    <li class="active"><a href="?page=1">1</a></li>
                    <li><a href="?page=2">2</a></li>
                    <li><a href="?page=3">3</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h3> Sign in </h3>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="email">
                </div>
                <button class="btn btn-default btn-block">Sign in</button>
            </form>
            <hr/>
            <h3>Register</h3>
            <form>
                <div class="form-group">
                    <input name="username" maxlength="100" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="email" type="email">
                </div>
                <div class="form-group">
                    <input name="password" class="form-control" placeholder="password" type="password">
                </div>
                <div class="form-group">
                    <input name="password_rpt" class="form-control" placeholder="comfirm password" type="password">
                </div>
                <div class="form-group">
                    <label><input name="master" type="checkbox">Employer</label>
                </div>
                <button class="btn btn-default btn-block">Register</button>
            </form>
        </div>
    </div>
    <footer>
        <br><br><br>
        <a href="">Terms and conditions</a>
        <a href="">About us</a>
    </footer>
</div>
</body>
{% endblock %}
